--------------------------------
system Time reset
1. Check with:
    timedatectl
2. If it says:
    NTP service: active
3. Disable timedatectl
    sudo timedatectl set-ntp false
4. set custome time:
    sudo date -s "2025-07-05 19:44:50"
5. then run the program
    python time-teller-clock-program.py
6.After testing set true
    sudo timedatectl set-ntp true

-------------------------------------------
Auto start setup
crontab -e
Add the below lines
@reboot python /home/pi/time-teller-clock/time-teller-clock-program.py &

the below line is to restart at 3.50 AM
55 3 * * * sudo reboot


