--------------------------------
system Time reset
1. Check with:
    timedatectl
2. If it says:
    NTP service: active
3. Disable timedatectl
    sudo timedatectl set-ntp false
4. set custome time:
    sudo date -s "2025-07-05 19:44:50"
5. then run the program
    python time-teller-clock-program.py
6.After testing set true
    sudo timedatectl set-ntp true

-------------------------------------------
Auto start setup
crontab -e
Add the below lines
@reboot python /home/pi/time-teller-clock/time-teller-clock-program.py &

the below line is to restart at 3.50 AM
55 3 * * * sudo reboot
-------------------------------------------

Auto start setup 2222
crontab -e
Add the below lines
@reboot sleep 10 && /usr/bin/python3 /home/pi/time-teller-clock/time-teller-clock-program.py >> /home/pi/startup.log 2>&1 &

the below line is to restart at 3.50 AM
55 3 * * * sudo reboot

Need to run the line
chmod +x /home/pi/time-teller-clock/time-teller-clock-program.py
chown pi:pi /home/pi/time-teller-clock/time-teller-clock-program.py


Added a short delay sleep 10 (some I2C/LCD need boot delay)
If your code uses I2C (RTC, LCD), the hardware might not be ready instantly after boot.

For logs
cat /home/pi/startup.log
-------------------------------------------